/* Globale Stile */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 100px;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* Navbar-Stil */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 15px;
}

.navbar .logo img {
  width: 180px;
}

.navbar .menu-links a {
  color: white;
  text-decoration: none;
}

.navbar .menu-links a:hover {
  color: #ddd;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 15px;
  font-size: 14px;
}

footer p {
  margin: 0;
  text-align: center;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: #ddd;
}
